@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	
.category_btn{
    border-bottom: 4px solid white;
    cursor: pointer;
    margin: 0 1rem;
    padding: 3px 5px;
    transition: .3s ease-in-out;
}
.category_btn:hover{
    border-bottom: 4px solid rgb(241, 115, 115);
}

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 100%;
    padding-block: 2rem;
    position: relative;
  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  
  .slide {
    display: inline-block;
    height: 400px;
    width: 100%;
  }
  
  /* Buttons */
  
  .slideshowDots {
    text-align: center;
    position: absolute;
    transform-origin: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  
    cursor: pointer;
    margin: 15px 7px 0px;
  
    background-color: #c4c4c4;
  }
  
  .slideshowDot.active {
    background-color: #6a0dad;
  }


  
  .text_part{
    width: 40%;
  }
  .gallry_part{
    width: 60%;
  }
  .gallry1{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .gallry1 li{
    transform-origin: center;
  }
  .gallry1 .img1{
    position: relative;
    width: 20rem;
    left: 40%;
  }
  .gallry1 .img3{
    position: absolute;
    left: 20%;
    bottom: -2rem;
    width: 20rem;
  }
  .gallry1 .img2{
    position: absolute;
    width: 15rem ;
    left: 15%;
    top: 0;
    z-index: -1;
  }


  .category_card{
    -webkit-box-shadow: 5px 1px 31px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 1px 31px -6px rgba(0,0,0,0.75);
    box-shadow: 5px 1px 31px -6px rgba(0,0,0,0.75);
    transition: .3s ease-in-out;
    margin: .5rem;
  }
  .category_card:hover{
    transform: scale(1.05);
  }

  .collection_card{
    width: 25rem;
    position: relative;
    aspect-ratio: 1/.6;
    margin: .5rem;
    transition: .3s ease-in-out;
    cursor: pointer;
  }
  .collection_card:hover{
    -webkit-box-shadow: 5px 1px 31px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 1px 31px -6px rgba(0,0,0,0.75);
    box-shadow: 5px 1px 31px -6px rgba(0,0,0,0.75);
  }
  .collection_card .image{
    width: 100%;
    height: 100%;
  }
  .collection_card .image img{
    width: 100%;
    height: 100%;
  }
  .collection_card .text{
    position: absolute;
    width: 100%;
    bottom: 0%;
    background-color: rgb(0 0 0 / 40%);
  }
  .collection_card .text p{
    font-size: 18px;
  }
  .trust_card{
    width: 18rem;
  }
  .container_review_card{
  }
  .main_footer ul{
    padding-top: 2rem;
  }
  .footer_left ul li{
    font-size: 16px;
    margin-block: 1rem;
  }
  .right_footer li{
    margin-block: 1rem;
  }

  .container_slider{

  }
  .container_slider .slider{
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
  
  .container_slider .slider::-webkit-scrollbar{
    display: none;
  }
  .container_slider .slider .slider_card_container{
    scroll-snap-align: start;
    padding: 0%;
    margin: 0%;
  }

  #category-menu-dropdown{
    position: absolute;
    left: 0;
    z-index: 10;
    background-color: white;
  }
  
  .main_menu_container{
    width: 100vw;
    height: 0;
    overflow: hidden;
    display: flex;
    transition: .3s ease-in;
  }
  .visible{
    display: flex;
    height: 100%;
  }
  .main_menu_container ul{
    box-sizing: border-box;
    width: 25%;
    padding: 2rem 4rem;
  }
  .main_menu_container ul p{
    font-size: 20px;
    font-weight: 600;
    padding-block: 5px;
  }
  .main_menu_container ul li a{
    font-size: 18px;
    padding-block: 5px;
    display: inline-flex;
    align-items: center;
  }
  .main_menu_container ul li span{
    margin-right: 10px;
  }

  .show_mobile{
    display: block !important;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: white;
  }
  .mobile_sub_menu{
    display: block;
  }
  .mobile_sub_menu ul{
    display: block !important;
    width: 100%;
  }

  .gallery-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0rem 1rem;
  }
  
  .button-prev,
  .button-next {
    position: absolute;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
    z-index: 10;
  }
  
  .button-prev {
    left: 5%;
  }
  
  .button-next {
    right: 5%;
  }
  
  .button-prev:hover,
  .button-next:hover {
    transform: scale(1.05);
  }
  
  .gallery-track {
    aspect-ratio: 1/1;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slide-image {
    aspect-ratio: 1/1;
    position: absolute;
    background-size: cover;
    width: 100%;
  }
  
  .gallery-footer {
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
  }
  
  .bubble-outer {
    display: none;
    cursor: pointer;
    border : 3px solid black;
    border-radius: 8px;
  }
  
  .bubble-inner {
    display: none;
    border: 5px solid transparent;
    border-radius: 4px;
  }
  
  @keyframes slide-right-in {
      from {
          -webkit-transform: translateX(-100%);
          -moz-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
          -o-transform: translateX(-100%);
          transform: translateX(-100%);
      }
      to {
          -webkit-transform: translateX(0%);
          -moz-transform: translateX(0%);
          -ms-transform: translateX(0%);
          -o-transform: translateX(0%);
          transform: translateX(0%);
      }
  }
  
  @keyframes slide-left-in {
      from {
          -webkit-transform: translateX(100%);
          -moz-transform: translateX(100%);
          -ms-transform: translateX(100%);
          -o-transform: translateX(100%);
          transform: translateX(100%);
      }
      to {
          -webkit-transform: translateX(0%);
          -moz-transform: translateX(0%);
          -ms-transform: translateX(0%);
          -o-transform: translateX(0%);
          transform: translateX(0%);
      }
  }
  
  @keyframes slide-right-out {
      from {
          -webkit-transform: translateX(0%);
          -moz-transform: translateX(0%);
          -ms-transform: translateX(0%);
          -o-transform: translateX(0%);
          transform: translateX(0%);
      }
      to {
          -webkit-transform: translateX(100%);
          -moz-transform: translateX(100%);
          -ms-transform: translateX(100%);
          -o-transform: translateX(100%);
          transform: translateX(100%);
      }
  }
  
  @keyframes slide-left-out {
      from {
          -webkit-transform: translateX(0%);
          -moz-transform: translateX(0%);
          -ms-transform: translateX(0%);
          -o-transform: translateX(0%);
          transform: translateX(0%);
      }
      to {
          -webkit-transform: translateX(-100%);
          -moz-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
          -o-transform: translateX(-100%);
          transform: translateX(-100%);
      }
  }
  
  .rightIn {
      -webkit-animation: slide-right-in .5s 1 forwards;
      -moz-animation: slide-right-in .5s 1 forwards;
      -ms-animation: slide-right-in .5s 1 forwards;
      -o-animation: slide-right-in .5s 1 forwards;
      animation: slide-right-in .5s 1 forwards;
  }
  
  .leftIn {
      -webkit-animation: slide-left-in .5s 1 forwards;
      -moz-animation: slide-left-in .5s 1 forwards;
      -ms-animation: slide-left-in .5s 1 forwards;
      -o-animation: slide-left-in .5s 1 forwards;
      animation: slide-left-in .5s 1 forwards;
  }
  
  .rightOut {
      -webkit-animation: slide-right-out .5s 1 forwards;
      -moz-animation: slide-right-out .5s 1 forwards;
      -ms-animation: slide-right-out .5s 1 forwards;
      -o-animation: slide-right-out .5s 1 forwards;
      animation: slide-right-out .5s 1 forwards;
  }
  
  .leftOut{
      -webkit-animation: slide-left-out .5s 1 forwards;
      -moz-animation: slide-left-out .5s 1 forwards;
      -ms-animation: slide-left-out .5s 1 forwards;
      -o-animation: slide-left-out .5s 1 forwards;
      animation: slide-left-out .5s 1 forwards;
  }




  @media (min-width: 640px) { 
    .trust_card{
        width: 20rem;
      }
      
   }
   @media (max-width: 768px){
    .collection_scrollbar{
      display: grid !important;
      grid-auto-flow: column;
      scroll-behavior: auto;
      gap: 1.2rem;
      overflow-y: auto;
      overscroll-behavior-x: contain;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
    }
    
    .collection_scrollbar::-webkit-scrollbar{
      display: none;
    }
    .collection_card .text a{
      font-size: 16px;
    }
    .collection_card .text p{
      font-size: 14px;
      line-height: 16px;
    }
    .slide {
      height: 300px
    }
    .slideshowDot {
      display: inline-block;
      height: 15px;
      width: 15px;
    }
    .footer_left ul li{
      font-size: 12px;
    }
   }

  @media (min-width: 768px) {
    .trust_card{
        width: 22rem;
      }
  }
  @media (max-width: 768px) { 
    .container1{
        height: 100%;
      }
    
    .text_part{
    width: 100%;
  }
  .gallry_part{
    width: 100%;
    padding-top: 3rem;
  }
  .gallry1 .img1{
    width: 15rem;
    left: 40%;
  }
  .gallry1 .img3{
    left: 20%;
    bottom: -2rem;
    width: 15rem;
  }
  .gallry1 .img2{
    width: 10rem ;
    left: 15%;
    top: 0;
  }
}
